<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Index</title>
<link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>

        <section id="body" class="width">
            <aside id="sidebar" class="column-left">
                <header>
                    <h2>Sidebar</h2>
                </header>

                <nav id="mainnav">
                    <ul>
                        <li class="selected-item"><a href="#">Home</a></li>
                        <li><a href="#">Ex1</a></li>
                        <li><a href="#">Ex2</a></li>
                        <li><a href="#">Ex3</a></li>
                    </ul>
                </nav>
            </aside>
        <section id="content" class="column-right">
            <div class="article-info">Content</div>



            <ul class="styledlist">
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
                <li>item 4</li>
            </ul>

            <article>
                <a href="#" class="button">Button 1</a>
                <a href="#" class="button button-reversed">Button 2</a>
            </article>

            <footer class="clear">
                <p>&copy; 2017 rKoma inc.</p>
            </footer>

        </section>

        <div class="clear"></div>

    </section>


</body>
</html>
